.DS_Store

# ignore vendor
*/vendor/
*/vendor/github.com/maticnetwork/bor
*/vendor/github.com/tendermint/iavl
/home/tokamak/go/pkg/*
/home/tokamak/go/src/*

# ignore build
build
logs
*.log

.idea
.vscode
