name: CI

on: [push, pull_request]

jobs:
  build-lint-test:
    name: build lint test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: "Build binaries"
        run: make build

      - name: "Run linter"
        run: make lint

      - name: "Run tests"
        run: make tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./cover.out
